Q. Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.

In [12]:
def is_symmetrical(i):
    s = str(i)
    if s == s[::-1]:
        return True
    else:
        return False

In [13]:
is_symmetrical(7227)

True

In [14]:
is_symmetrical(12567)

False

In [15]:
is_symmetrical(44444444)

True

In [16]:
is_symmetrical(9939)

False

In [17]:
is_symmetrical(1112111)

True

Q.Given a string of numbers separated by a comma and space, return the product of the
numbers.

In [35]:
def multiply_nums(s):
    product = 1
    d = s.split(', ')
    for i in d:
        integer = int(i)
        product = product * integer
    return product

In [36]:
multiply_nums("2, 3")

6

In [37]:
multiply_nums("1, 2, 3, 4")

24

In [38]:
multiply_nums("54, 75, 453, 0")

0

In [39]:
multiply_nums("10, -2")

-20

Q.3 Create a function that squares every digit of a number

In [50]:
def square_digits(i):
    s = str(i)
    lst = []
    for i in s:
        p = int(i)
        sq = p**2
        lst.append(str(sq))
        g = "".join(lst)
    return int(g)

In [51]:
square_digits(9119)

811181

In [52]:
square_digits(2483)

416649

In [53]:
square_digits(3212)

9414

Q.4 Create a function that sorts a list and removes all duplicate items from it

In [57]:
def setify(l):
    return list(set(l))

In [58]:
setify([1,3,3,5,5])

[1, 3, 5]

In [59]:
setify([4, 4, 4, 4])

[4]

In [60]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [61]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

Q.5 Create a function that returns the mean of all digits.

In [68]:
def mean(i):
    sums = 0
    s = str(i)
    l = len(s)
    for j in s:
        t = int(j)
        sums = sums + t
    mean = sums/l
    return round(mean)

In [69]:
mean(42)

3

In [70]:
mean(12345)

3

In [71]:
mean(666)

6